<!DOCTYPE html>
<html>
<body>
    <h1>Inscription</h1>
    <form action="register" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nom d'utilisateur"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Mot de passe"><br>
        <input type="password" name="password2" placeholder="Confirmez le mot de passe"><br>
        <input type="submit" value="S'inscrire">
    </form>
    
    {% for message in messages %} <p style="color: red;">{{message}}</p>
    {% endfor %}
</body>
</html>